* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0px 1%;
    background: #28272C;
}

.semestre-materias {
    display: grid;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
}

.semestre h1 {
    font-size: 20px;
    text-align: center;
    color: #AAAAAA;
}

.semestre span {
    font-size: 12px;
}

#materia-buttons {
    display: flex;
    position: absolute;
    bottom: 3px;
    margin-left: 10px;
}

#passei-button {
    background: #046E1F;
    width: 70px;
}

#passei-button:hover {
    background: #32BA07;
    cursor: pointer;
}

#perdi-button {
    background: #ad0602;
    width: 70px;
}

#perdi-button:hover {
    background: #EE4C39;
    cursor: pointer;
}


.verde-forte {
    /*background: #046E1F;*/
    background: #3F874E;
    font-weight: bold;
    text-align: center;
    height: 92px;
    border-radius: 2px;
    position: relative;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.verde-forte a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.verde-forte a:hover {
    color: white;
}

.vermelho-forte {
/*    background: #ad0602;*/
    background: #B40000;
    font-weight: bold;
    text-align: center;
    height: 92px;
    border-radius: 2px;
    position: relative;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.vermelho-forte a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.vermelho-forte a:hover {
    color: white;
}

.verde-fraco {
/*    background: #32BA07;*/
    background: #98C376;
    font-weight: bold;
    text-align: center;
    height: 92px;
    border-radius: 2px;
    position: relative;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.verde-fraco a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.verde-fraco a:hover {
    color: white;
}

.vermelho-fraco {
/*    background: #EE4C39;*/
    background: #F61F1F;
    font-weight: bold;
    text-align: center;
    height: 92px;
    border-radius: 2px;
    position: relative;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.vermelho-fraco a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}
.vermelho-fraco a:hover {
    color: white;
}

.normal {
    /*--background: #F58309;*/
    background: #98BFF7;
    font-weight: bold;
    text-align: center;
    height: 92px;
    border-radius: 2px;
    position: relative;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.normal a {
    text-decoration: none;
    color: black;
    font-size: 100%;
}
.normal a:hover {
    color: white;
}